@model Beruwala_Mirror.Models.News.NewsViewModel
@{
    ViewData["Title"] = "Index";
}
    <div class="form-group">

        @foreach (var item in Model.News)
        {

            <div class="row float-left" style="margin-right: 10px; margin-bottom: 10px;">
                <div class="col-md-5">
                    @Html.Partial("_NewsCard", item)
                </div>

            </div>

        }
    </div>


